@import '../../../../styles-variables';

.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.rounded-table {
    border-radius: 10px !important;
    box-shadow: -6px -6px 8px rgba(255, 255, 255, 1), 6px 6px 15px rgba(0, 0, 0, 0.15);

    @media (prefers-color-scheme: dark) {
        box-shadow: -4px -4px 6px rgba(57, 57, 57, 0.95), 
                    4px 4px 15px rgba(0, 0, 0, 0.55);
    }
}

.mat-header-row {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    text-align: center;
}

.element-row.expanded {
    border-bottom-color: transparent;
}


.mat-column-more {
    flex: 0 0 20px;
    
    
}

.mat-column-expandedDetail {
    display: flex !important;
    justify-content: center !important;
    height: 200px !important;
    max-height: 10%;  

}

.detail-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    @media (prefers-color-scheme: dark) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.intro-image {
    object-fit: scale-down !important;;
    height: 100% !important;
}


.mat-column-title {
    flex: 0 0 30%;
    text-align: center;
    @media screen and (max-width: map-get($grid-breakpoints, sm)) {
        flex: auto;
        padding-left: 0px;
    }
    
}

.mat-column-description {
    &.mat-header-cell {
        text-align: center;
    }
    text-align: justify;
    text-justify: distribute;
    
    @media screen and (max-width: map-get($grid-breakpoints, sm)) {
        display: none !important;
    }
    

}

.mat-column-link {
    flex: 0 0 50px;

    @media screen and (max-width: map-get($grid-breakpoints, sm)) {
        display: none !important;
    }
}



mat-cell, .mat-cell {
    display:block; 
    min-height:auto; 
    //padding: 0 5px 0 5px;
    margin: 20px;
    @media screen and (max-width: map-get($grid-breakpoints, sm)) {
        margin: 10px;
      }
}

mat-header-cell, .mat-header-cell {
    display:block; 
    min-height:auto; 
    padding: 0 5px 0 5px;
}

