<div class="container">
  <div class="row align-items-end">
    <div *ngFor="let project of project$ | async; trackBy: trackByFn" class="col-md-6 col-lg-4">
      <mat-card class="clickable">
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu"
          *ngIf="auth.user | async" aria-label="Menu Button">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="editCard(project)" aria-label="Edit">Edit</button>
          <button mat-menu-item (click)="removeCard(project)" class="mat-menu-delete"
            aria-label="Delete">Remove</button>
        </mat-menu>
        <mat-card-content (click)="goToUrl(project.link)">
          <mat-card-title>
            <code *ngIf="project.version">{{project.version}}</code>
            {{project | firestoreTranslator:"title"}}
          </mat-card-title>
          <mat-card-subtitle rtl>
            {{project | firestoreTranslator:"description"}}
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>