@import '../../../../styles-variables';

.container {
    margin-top: 20px;
  }
  
  .main-heading {
    text-transform: uppercase;
    margin: 0 0 20px 0;
  }
  
  .more-button {
    position: absolute;
    right: -10px;
    top: -6px;
  }

  code {
    font-size: 0.9em;
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    margin: 0 0 10px 0;
    white-space: nowrap;
    border-radius: 10px;
    padding: 0 8px 1px 8px;
    
  }

  mat-card {
    margin: 0 0 20px 0;

    border-radius: 10px !important;
    mat-card-title {
      position: relative;
      
  
      code {
        position: absolute;
        top: 11px;
        right: 0;
        float: right;
        font-size: 10px;
      }
    }
    mat-card-subtitle {
      min-height: 90px;
    }
  
    @media (max-width: map-get($grid-breakpoints, sm)) {
      mat-card-subtitle {
        min-height: 80px;
      }
    }
  
    a {
      fa-icon {
        position: relative;
        bottom: 2px;
        font-size: 16px;
        margin: 6px;
      }
    }
  
    a[mat-icon-button] {
      position: relative;
      left: 5px;
    }
  }