<div class="container">
  <div class="row align-items-center">
    <div *ngFor="let card of card$ | async; trackBy: trackByFn" class="col-md-12 col-lg-6">
      <mat-card class="dashboard-card clickable">
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu"
          *ngIf="auth.user | async" aria-label="Menu Button">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="editCard(card)" aria-label="Edit">Edit</button>
          <button mat-menu-item (click)="removeCard(card)" class="mat-menu-delete" aria-label="Delete">Remove</button>
        </mat-menu>
        <mat-card-content (click)="goToUrl(card.link)">
          <div class="post-header">
            <div class="pickgradient">
              <img class="post-image" *ngIf="card.image" src={{card.image}} (load)="card.loaded = true"
              [hidden]="!card.loaded" onerror="this.src='assets/loading.gif'" layout-fill alt="Cover Image">
              <img class="post-image" *ngIf="card.image" src="assets/loading.gif" [hidden]="card.loaded"
                layout-fill alt="Cover Image Not Loaded">
              
            </div>
            <p class="post-title">{{card | firestoreTranslator:"title"}}</p>
          </div>
          
          <div class="dashboard-card-content">
            {{ card | firestoreTranslator:"description" }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>