
@import '~@angular/material/theming';
@import '../../../../styles-variables';

.header-image {
   background-size: cover;
}

.dashboard-card {
  position: relative;
  margin: 0 0 20px 0;
  @media screen and (max-width: map-get($grid-breakpoints, lg)) {
    left: 0px;
    right: 0px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, lg)) {
    left: 4px;
    right: 4px;
  }
}

.dashboard-card-content {
  margin-top: -20px;
  text-align: left;
  white-space: pre-line;
}

.more-button {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.mat-menu-delete {
  color: mat-color($warning-colors);
}


.post-image {
  object-fit: contain;
  //width: 100%;
  width: calc(100% + 38px) !important;
  margin: -19px -16px 16px -19px !important;
  border: 3px solid #000000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  @media (prefers-color-scheme: dark) {
        border: 3px solid #FFFFFF;
  }
}

.pickgradient{
  position:relative;
  display:inline-block;
  width: 100%;
  margin-bottom: 25px;
}
.pickgradient:after {
  content:'';
  position:absolute;
  left:0; 
  top:0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: calc(100% + 38px) !important; 
  margin: -19px -16px 16px -19px !important;
  height:100%;
  //border-radius: 15px !important;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.80) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.80)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.pick-gradient img {
  display: block;
}

.post-header {
  position: relative;
}


.post-title {
  position: absolute;
  bottom: 40px;
  left: 0px;
  color: white;
  //margin-bottom: 40px;
  @media screen and (max-width: map-get($grid-breakpoints, sm)) {
    font-size: 5vw;
  }
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    font-size: 20px;
  }
  font-size: 25px;

}