<div class="container">
  

    <div class="front-page">





        <!-- <mat-icon class="logo-main" svgIcon="webpage"></mat-icon> -->

        <div class="logo-main">

                <mat-icon class="webpage-icon" svgIcon="webpage"></mat-icon>

        </div>

        <mat-card class="intro-card">
            <mat-card-content>
              <p>
                Hola y bienvenido a mi página web. En este espacio publico noticias, artículos, conferencias y proyectos varios en los que participo.
                </p>
                <p>
                    Soy un apasionado de la tecnología al que le gusta explorar diversas ramas como Desarrollo, Ciberseguridad, Inteligencia Artificial o Blockchain.
                </p>
                <p>
                    Actualmente tengo la oportunidad de desarrollar muchas de estas tecnologías y luego difundirlas en diversos canales. Este es el espacio donde intento agrupar todo este contenido. 
                </p>
                
                
                
              
            </mat-card-content>
          </mat-card>

        <div class="social-row">
            <button class="social-button custom-button clickable" (click)="goTwitter()" aria-label="Twitter Button">
              <mat-icon class="social-image" svgIcon="twitter"></mat-icon>
              <span class="social-text">Twitter</span>
            </button>
            <button class="social-button custom-button clickable" (click)="goLinkedin()" aria-label="Linkedin Button">
              <mat-icon class="social-image" svgIcon="linkedin"></mat-icon>
              <span class="social-text">Linkedin</span>
            </button>
            <button class="social-button custom-button clickable" (click)="goGithub()" aria-label="Github Button">
              <mat-icon class="social-image" svgIcon="github"></mat-icon>
              <span class="social-text">Github</span>
            </button>
          </div>
    </div>

    


</div>