<div id="story-available"></div>
<img src="https://graph.facebook.com/100000723486971/picture?type=large" id="storyProfilePicture"
(click)="showStories()" />

<div id="storyViewer">
  <div id="storyContent">
    <div id="storyProgressBar"></div>
    <div id="storyBackButton" class="storyButton" (click)="userDidClickPreviousStory()">
      <mat-icon>navigate_before</mat-icon>
    </div>
    <div id="storyNextButton" class="storyButton" (click)="userDidClickNextStory()">
      <mat-icon>navigate_next</mat-icon>
    </div>

    <div id="storyClose" class="storyButton" (click)="dismissStories()">
      <mat-icon>close</mat-icon>
    </div>

    <video autoplay playsinline muted id="storyVideoViewer">
    </video>
    <div id="storyPhotoViewer" (click)="userDidClickNextStory()">
    </div>
  </div>
  <img src="" id="fakeContentToPreloadImages" />


</div>