<div class="table-dissemination">
    <h1 class="mat-h2">{{ year }}</h1>
    <div class="mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
      
          <!-- Title Column -->
          <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Título</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
            </ng-container>
  
            <!-- Description Column -->
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
              </ng-container>

          <!-- Link Column -->
          <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef>Link</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.link}}</mat-cell>
          </ng-container>
                  
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      
        <mat-paginator #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[10, 25, 50]">
        </mat-paginator>
      </div>
</div>


