.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #f5f5f5;
}

.element-row.expanded {
    border-bottom-color: transparent;
}

.mat-column-more {
    flex: 0 0 20px;
    padding-right: 10px !important;
}

.mat-column-expandedDetail {
    display: flex !important;
    justify-content: center !important;
    height: 200px !important;
    max-height: 10%;
    background: #f7f7f7;
}

.intro-image {
    object-fit: scale-down !important;;
    height: 100% !important;; 
}

mat-cell, .mat-cell {
    display:block; 
    min-height:auto; 
    padding: 0 5px 0 5px;
}

mat-header-cell, .mat-header-cell {
    display:block; 
    min-height:auto; 
    padding: 0 5px 0 5px;
}

