@import "~@angular/material/theming";
@import "../../styles-variables.scss";

.theme-wrapper {
    height: 100%;
    width: 100%;
}

body {
    font-family: SF Pro Display !important;
}

:host ::ng-deep.mat-card:not([class*="mat-elevation-z"]) {
    border: 3px solid #000000;
    border-radius: 6px;
    box-shadow: none !important;

    // &:hover {
    //    box-shadow: -10px 10px 0px rgba(0, 0, 0, 1) !important;

    // }

    @media (prefers-color-scheme: dark) {
        border: 3px solid #FFFFFF;
        box-shadow: none !important;
        // box-shadow: -4px -4px 10px rgba(57, 57, 57, 0.95), 4px 4px 15px rgba(0, 0, 0, 0.55);

        // &:hover {
        //     box-shadow: -4px -4px 6px rgba(57, 57, 57, 1), 4px 4px 10px rgba(0, 0, 0, 0.62);
        // }
    }
}

:host ::ng-deep.clickable:not([class*="mat-elevation-z"]) {
    cursor: pointer;
    transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;

    &:active {
        transform: translate(4px, -4px);
        box-shadow: -4px 4px 0px rgba(0, 0, 0, 1) !important;
        @media (prefers-color-scheme: dark) {
                box-shadow: -4px 4px 0px rgba(255, 255, 255, 1) !important;
        }
    }
}

:host ::ng-deep.mat-card {
    border-radius: 6px !important;
    background: $light-color-body;
    @media (prefers-color-scheme: dark) {
        background: $dark-color-body;
    }
}

@mixin hover-supported {
    /* 
     * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer 
     * coarse: The primary input mechanism includes a pointing device of limited accuracy.
     */
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

:host ::ng-deep.clickable {
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    @include hover-supported() {
        transform: translate(7px, -7px);
        box-shadow: -7px 7px 0px rgba(0, 0, 0, 1) !important;
        @media (prefers-color-scheme: dark) {
                box-shadow: -7px 7px 0px rgba(255, 255, 255, 1) !important;   
        }
    }
}




:host ::ng-deep.mat-raised-button:not([class*="mat-elevation-z"]) {
    background: $dark-color-body;
    color: $light-color-body;


    @media (prefers-color-scheme: dark) {
        background: $light-color-body;
        color: $dark-color-body;
    }
}

*:focus {
    outline: none !important;
    border: 0 !important;
}

.custom-button {
    border: 0;
    outline: none;
    border-radius: 5px;
    display: flex;
    padding: 12px;
    flex-direction: row;
    align-items: center;
    background: $dark-color-body;
    color: $light-color-body;

    &:foucs {
        border: 0;
        outline: none;
    }

    @media (prefers-color-scheme: dark) {
        background: $light-color-body;
        color: $dark-color-body;
    }

}

:host ::ng-deep.mat-raised-button {
    background: $light-color-body;

    @media (prefers-color-scheme: dark) {
        background: $dark-color-body;
    }
}

// Material Color
@mixin lwp-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    :host ::ng-deep .mat-card {
        background-color: mat-color($accent);
    }

    .mat-toolbar {
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.8);
    }

    .mat-header-row {
        //background-color: mat-color($primary);
        background-color: $light-color-body;
        @media (prefers-color-scheme: dark) {
            background-color: $dark-color-body;
        }
    }

    mat-header-cell,
    .mat-header-cell {
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-weight: bold;
        @media (prefers-color-scheme: dark) {
            color: rgb(255, 255, 255);
        }
    }

    .mat-table {
        //background-color: mat-color($accent);
        background-color: $light-color-body;
        border-radius: 10px !important;
        @media (prefers-color-scheme: dark) {
            background-color: $dark-color-body;
        }
    }

    mat-paginator {
        background: $light-color-body;
        background-color: $light-color-body;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .pure-material-button-contained {
        background-color: mat-color($primary, darker);
    }

    .dropzone {
        &.hovering {
            background-color: mat-color($primary, lighter) !important;
            color: #ffffff;
        }
    }

    .mat-toolbar.mat-primary {
        margin: 10px 0px 0px 0px;


        @media screen and (max-width: map-get($grid-breakpoints, sm)) {
            padding-bottom: 10px;
            border-bottom: 3px solid #000000;
        }


        background: $light-color-body;
        color: #000000;
        @media (prefers-color-scheme: dark) {
            background: $dark-color-body;
            color: #ffffff;
        }
        box-shadow: none !important;
    }

    code {
        color: mat-color($primary, lighter-contrast);
        background-color: mat-color($primary, lighter);
    }
}
