<mat-sidenav-container class="all-wrap">
  <mat-sidenav-content class="page-wrap">
    <!-- Mat menu -->
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <div *ngIf="auth.user | async; then authenticated else guest"></div>
      <!-- User NOT logged in -->
      <ng-template #guest>
        <button mat-menu-item [routerLink]="['/login']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}" aria-label="Login">
          <mat-icon>account_box</mat-icon>
          <span>{{ 'navbar.login' | translate }}</span>
        </button>
      </ng-template>
      <!-- User logged in -->
      <ng-template #authenticated>
        <button mat-menu-item (click)="signOut()" aria-label="Logout">
          <mat-icon>power_settings_new</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </ng-template>
    </mat-menu>

    <!-- Main toolbar -->
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button class="home-logo" [routerLink]="['/home']" routerLinkActive="is-active"
              [routerLinkActiveOptions]="{exact:true}" aria-label="Introduction">
              <mat-icon class="webpage-icon" svgIcon="webpage"></mat-icon>
        </button>
        
        <span class="spacer-toolbar"></span>
        <div *ngIf="isHandset">
          <a mat-button class="button-selected" *ngFor="let icon of linksActive" [routerLink]="icon.link" routerLinkActive="is-active"
            [routerLinkActiveOptions]="{exact:true}">
            <mat-icon>{{icon.image}}</mat-icon>
            <a mat-line aria-label="Link" class="link-nav">{{ icon.text | translate }}</a>
          </a>
        </div>
        <button mat-button [matMenuTriggerFor]="menu" aria-label="Menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="!isHandset">
        <nav mat-tab-nav-bar mat-stretch-tabs="yes" class="primary-bar">
          <a mat-tab-link class="tab-links" *ngFor="let icon of linksActive" [routerLink]="icon.link"
            matTooltip="{{ icon.text | translate }}" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"
            aria-label="Link">
            <mat-icon>{{icon.image}}</mat-icon>
          </a>
        </nav>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- Router Outlet -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
    <footer *ngIf="!isHome" class="custom-footer">
      <div class="social-footer">
        <button mat-raised-button (click)="goTwitter()" class="social-button" aria-label="Twitter Button">
          <mat-icon class="footer-icon" svgIcon="twitter"></mat-icon>
          <span *ngIf="isHandset">Twitter</span>
        </button>
        <button mat-raised-button (click)="goLinkedin()" class="social-button" aria-label="Linkedin Button">
          <mat-icon class="footer-icon" svgIcon="linkedin"></mat-icon>
          <span *ngIf="isHandset">Linkedin</span>
        </button>
        <button mat-raised-button (click)="goGithub()" class="social-button" aria-label="Github Button">
          <mat-icon class="footer-icon" svgIcon="github"></mat-icon>
          <span *ngIf="isHandset">Github</span>
        </button>
        <button mat-raised-button (click)="goCodepen()" class="social-button" aria-label="Codepen Button">
          <mat-icon class="footer-icon" svgIcon="codepen"></mat-icon>
          <span *ngIf="isHandset">Codepen</span>
        </button>
      </div>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>