.mat-column-more {
    flex: 0 0 20px;
    padding-right: 10px !important;
}

.mat-menu-delete {
    color: red;
}

mat-cell, .mat-cell {
    display:block; 
    min-height:auto; 
    padding: 0 5px 0 5px;
}

.mat-column-title {
    flex: 0 0 30%;
}

.mat-column-link {
    flex: 0 0 15%;
}

.mat-column-more {
    flex: 0 0 5%;
}

mat-header-cell, .mat-header-cell {
    display:block; 
    min-height:auto; 
    padding: 0 5px 0 5px;
}