@import '~@angular/material/theming';

// https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1 IMPORT ANGULAR MATERIAL
@mixin lucferbux-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    
    .mat-card-title {
        color: mat-color($primary);
    }
    
}



.grid-container {
    margin: 20px;
}