
@import '~@angular/material/theming';

.theme-wrapper {
    height: 100%;
    width: 100%;
}


@mixin lwp-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    
    // .mat-card-title {
    //     color: mat-color($primary);
    // }

    .mat-card{
        background-color: mat-color($accent);
        border-radius: 10px !important;
    }

    .mat-header-row {
        background-color: mat-color($primary);
    }

    mat-header-cell, .mat-header-cell {
        color: rgb(255, 255, 255);
    }

    .mat-table{
        background-color: mat-color($accent);
        border-radius: 10px !important;
    }

    .custom-footer {
        background-color: mat-color($accent);
      }

      .pure-material-button-contained {
        background-color: mat-color($primary, darker);
      }

    .dropzone { 

        &.hovering {
            background-color: mat-color($primary, lighter) !important;
            color: #ffffff;
        }
    
    }

    code {
        color: mat-color($primary, lighter-contrast);
        background-color: mat-color($primary, lighter);
      }
}
