@import '~@angular/material/theming';
@import '../styles-variables.scss';
@include mat-core;

$mat-light-primary: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$mat-light-secondary: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$lwp-light-primary: mat-palette($mat-light-primary);
$lwp-light-accent: mat-palette($mat-light-secondary);
$lwp-light-warn: mat-palette($mat-red);
$custom-background-color: $ligth-color-body;

$lwp-light-theme: mat-light-theme(
    $lwp-light-primary,
    $lwp-light-accent,
    $lwp-light-warn
);

// Override background color
$background: map-get($lwp-light-theme, background);
$background: map_merge($background, (background: $custom-background-color));
$lwp-light-theme: map_merge($lwp-light-theme, (background: $background));

