<div class="container">
  <h1 class="mat-h1">Proyectos</h1>
  <div class="row align-items-end">
    <div *ngFor="let project of projects" class="col-md-6 col-lg-4">
      <mat-card class="mat-elevation-z8">
        <mat-card-title>
          <code *ngIf="project.version">{{project.version}}</code>
          {{project.title}}
          
        </mat-card-title>
        <mat-card-subtitle rtl>
          {{ project.description}}
        </mat-card-subtitle>
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu" *ngIf="auth.user | async">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="editCard(project)">Edit</button>
          <button mat-menu-item  (click)="removeCard(project)" class="mat-menu-delete">Remove</button>
        </mat-menu>

        <mat-card-actions>
          <button *ngIf="project.link" mat-button (click)="goToUrl(project.link)"><mat-icon>link</mat-icon></button>
          
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>