.header-image {
   background-size: cover;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 0px;
  right: 0px;
  bottom: 15px;
}

.dashboard-card-content {
  margin-top: 20px;
  text-align: left;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.mat-menu-delete {
  color: red;
}