.dashboard-card {
  position: absolute;
  top: 15px;
  left: 0px;
  right: 0px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: left;
}

.intro-image {
  object-fit: scale-down;
  height: 40%; 
}

.mat-menu-delete {
  color: red;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}