
$break-small: 600px;
$break-large: 960px;



.dashboard-card {
  position: absolute;
  top: 15px;
  @media screen and (max-width: $break-large) {
    left: 0px;
    right: 0px;
  }
  @media screen and (min-width: $break-large) {
    left: 4px;
    right: 4px;
  }

  bottom: 15px;
}

.dashboard-card-content {
  text-align: left;
}



.intro-image {

  @media screen and (max-width: $break-small) {
    object-fit: contain;

  }
  @media screen and (min-width: $break-small) {
    object-fit: scale-down;
    height: 40%; 
  }

}

.mat-menu-delete {
  color: red;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}