@import '~@angular/material/theming';
@import '../../../styles-variables';

.header-image {
   background-size: cover;
}

.dashboard-card {
  position: relative;
  margin: 0 0 20px 0;
  
  @media screen and (max-width: map-get($grid-breakpoints, lg)) {
    left: 0px;
    right: 0px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, lg)) {
    left: 4px;
    right: 4px;
  }

}

:host ::ng-deep.dashboard-card:not([class*=mat-elevation-z]) {


  &:active {
    box-shadow: -3px -3px 4px rgba(255, 255, 255, 1), 
                    4px 3px 8px rgba(0, 0, 0, 0.23);
  }

  @media (prefers-color-scheme: dark) {

        &:active {
          box-shadow: -4px -4px 6px rgba(57, 57, 57, 1), 
                        4px 4px 10px rgba(0, 0, 0, 0.62);
      }
      
  }
}

.dashboard-card-content {
  text-align: left;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.mat-menu-delete {
  color: mat-color($warning-colors);
}

