.mat-tab-nav-bar-pagination {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.mat-tab-label-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  z-index: 1;
}

.mat-tab-header-pagination {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  cursor: pointer;
  z-index: 2;
}

.mat-tab-header-pagination-before,
.mat-tab-header-pagination-after {
  padding-left: 4px;
}

.mat-tab-header-pagination {
  display: flex;
}

.mat-tab-header-pagination-chevron {
  border-color: rgba(0, 0, 0, 0.87);
}

.mat-tab-header-pagination-chevron {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: '';
  height: 8px;
  width: 8px;
}

.mat-tab-header-pagination-before .mat-tab-header-pagination-chevron {
  transform: rotate(-135deg);
}

.mat-tab-header-pagination-after .mat-tab-header-pagination-chevron {
  transform: rotate(45deg);
}

