$mat-ideas-locas-primary: (
    900: #002D3D,
    800: #104245,
    700: #1E5569,
    600: #2D697F,
    500: #317790,
    400: #578BA2,
    300: #71A0B6,
    200: #95BCCF,
    100: #B6D9E8,
    50: #D8F1FF,
    A100: #95BCCF,
    A200: #317790,
    A400: #1E5569,
    A700: #104245,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $light-primary-text,
      400: $light-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    )
);

$mat-ideas-locas-secondary: (
    900: #0D5959,
    800: #0E7C82,
    700: #0E9099,
    600: #0DA4B2,
    500: #0CB4C4,
    400: #2ABFCB,
    300: #4DCAD4,
    200: #7FDAE0,
    100: #B1E8EC,
    50: #DFF6F7,
    A100: #B1E8EC,
    A200: #4DCAD4,
    A400: #0DA4B2,
    A700: #0E7C82,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $light-primary-text,
      400: $light-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    )
);