@import '~@angular/material/theming';
@import 'app/app.component.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import './custom-palettes';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$mat-app-primary: mat-palette($mat-ideas-locas-primary);
$mat-app-accent: mat-palette($mat-ideas-locas-secondary);

// The warn palette is optional (defaults to red).
$mat-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mat-app-theme: mat-light-theme($mat-app-primary, $mat-app-accent, $mat-app-warn);


  

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mat-app-theme);
@include ideas-locas-theme($mat-app-theme);
