@import '~@angular/material/theming';
@import './app/app.component.scss';


@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@include mat-core();

@import './themes/default-theme';
@import './themes/dark-theme';

$break-small: 450px;
$break-large: 960px;

body {
  margin: 0;
  width: 100%;
}

footer {
  width: 100%;
  height: inherit;
  background: #ffffff;
  color: black;
  padding: .5rem 0 1rem 0;
  > * { padding: 0 0 0 2rem; }
  h2 { font-size: 1.4em; }
}

.grid-container {
    //margin: 20px;
    @media screen and (max-width: $break-large) {
      margin-left: 4px;
      margin-right: 4px;
    }
    @media screen and (min-width: $break-large) {
      margin-left: 20px;
      margin-right: 20px;
    }

    
    margin-top: 20px;
    margin-bottom: 20px;
}


@mixin custom-components-theme($theme) {
  @include lwp-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($lwp-light-theme);
  @include custom-components-theme($lwp-light-theme);
}

.dark-theme {
  @include angular-material-theme($lwp-dark-theme);
  @include custom-components-theme($lwp-dark-theme);
}