@import '~@angular/material/theming';
@import './app/app/app.component.scss';


@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@include mat-core();

@import './themes/default-theme';
@import './themes/dark-theme';
@import "./styles-variables.scss";

$break-small: 450px;
$break-large: 960px;

body {
  margin: 0;
  width: 100%;
  background: $light-color-body;

  @media (prefers-color-scheme: dark) {
    background: $dark-color-body;
  }
}

h1, h2, p {
  color: $dark-text !important;

  @media (prefers-color-scheme: dark) {
    color: $light-text !important;
  }
}

footer {
  width: 100%;
  height: inherit;
  color: black;
  padding: .5rem 0 1rem 0;
  > * { padding: 0 0 0 2rem; }
  h2 { font-size: 1.4em; }
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@mixin custom-components-theme($theme) {
  @include lwp-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($lwp-light-theme);
  @include custom-components-theme($lwp-light-theme);
}

.dark-theme {
  @include angular-material-theme($lwp-dark-theme);
  @include custom-components-theme($lwp-dark-theme);
}