@import '~@angular/material/theming';

$toolbar-breakpoint: 600px;

$fa-font-path: '~@fortawesome/fontawesome-free-webfonts/webfonts';

$link-hover-decoration: none;
$label-margin-bottom: 0;

$light-color-body: #FFFFFF;
$dark-color-body: #000000;

$grid-breakpoints: (
  zero: 0,
  xxs: 330px,
  xs: 396px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


$success-colors: mat-palette($mat-green, 400);
$warning-colors: mat-palette($mat-red, 400);
